<header>
  @if (isAdmin()) {
    <div class="links">
      <a class="link" [routerLink]="'/control'">
        <ng-icon name="faSolidScrewdriverWrench" />
        <span>管理画面</span>
      </a>

      <button class="link" (click)="openProjectorPage()">
        <ng-icon name="faSolidDisplay" />
        <span>プロジェクター用</span>
      </button>
    </div>
  }
  <div class="spacer"></div>

  @if (this.userService.user(); as user) {
    <div>
      <div class="username" (dblclick)="signout()">
        <span>{{ user.username }}</span>
        @if (user.role === "ADMIN") {
          <span class="role">管理者</span>
        }
      </div>
    </div>
  }
</header>
