<div>
  <div class="title-container">
    <div class="app-title">koreda.red</div>
    <div class="title">ログイン</div>
  </div>
  <form class="form" [formGroup]="formData" (ngSubmit)="submit()">
    <div class="input-container">
      <label for="username" class="label">ユーザー名</label>
      <input
        id="username"
        class="input"
        autocapitalize="off"
        [formControlName]="'username'"
      />
    </div>

    <div class="input-container">
      <label for="password" class="label">パスワード</label>
      <input
        id="password"
        class="input"
        [formControlName]="'password'"
        type="password"
      />
    </div>

    @if (result) {
      <div class="error-message">{{ result }}</div>
    }

    <button class="button filled" [disabled]="sending()">ログイン</button>
  </form>

  <div class="signup-link">
    <a [routerLink]="'/signup'">まだアカウントをお持ちでない方</a>
  </div>
</div>
