@if (question(); as question) {
  <div class="screen-question-body">
    <div class="screen-question-image-container">
      <img class="screen-question-image" [appAuthSrc]="question.imageUrl" />
    </div>
    <div class="screen-question-choice-container">
      @for (choice of question.choices; track choice.choiceId) {
        <div
          class="screen-question-choice"
          [class.answer]="
            nowStatus().status === 'close' &&
            choice.choiceId === question.correctChoiceId
          "
          [class.not-answer]="
            nowStatus().status === 'close' &&
            choice.choiceId !== question.correctChoiceId
          "
        >
          <div
            class="screen-question-choice-overlay"
            [style.width]="'calc(' + getCount(choice.choiceId) + '%)'"
          ></div>

          <div class="screen-question-text-container">
            <p>{{ choice.text }}</p>
            @if (nowStatus().status === "close") {
              <p>{{ getCount(choice.choiceId) }}</p>
            }
          </div>
        </div>
      }
    </div>
  </div>

  @if (result) {
    <div>{{ result }}</div>
  }
}
