@if (question(); as question) {
  <div class="screen-question-body">
    <div class="screen-question-image-container">
      <img class="screen-question-image" [appAuthSrc]="question.imageUrl" />
    </div>
    <div class="screen-question-choice-container">
      <p class="screen-question-choice-title">選択肢</p>
      @for (choice of question.choices; track choice.choiceId) {
        <div
          class="screen-question-choice"
          [class.not-answer]="
            nowStatus().status === 'close' &&
            choice.choiceId !== question.correctChoiceId
          "
        >
          <p>{{ choice.choiceId }}：{{ choice.text }}</p>
        </div>
      }
    </div>
  </div>

  @if (result) {
    <div>{{ result }}</div>
  }
}
