@if (question(); as question) {
  <div class="screen-question-body">
    <div class="screen-question-image-container">
      <img class="screen-question-image" [appAuthSrc]="question.imageUrl" />
    </div>
    <div class="screen-question-choice-container">
      @for (choice of question.choices; track choice.choiceId) {
        <div
          class="screen-question-choice"
          [class.answer]="
            nowStatus().status === 'close' &&
            isShowAnswer() &&
            choice.choiceId === question.correctChoiceId
          "
          [class.not-answer]="
            nowStatus().status === 'close' &&
            isShowAnswer() &&
            choice.choiceId !== question.correctChoiceId
          "
        >
          <div
            class="screen-question-choice-overlay"
            [style.width]="
              'calc(' + (getCount(choice.choiceId) / 57) * 100 + '%)'
            "
          ></div>

          <div class="screen-question-text-container">
            <div>{{ choice.text }}</div>
            @if (nowStatus().status === "close") {
              <div>{{ getCount(choice.choiceId) }}</div>
            }
          </div>
        </div>
      }
    </div>
  </div>

  @if (nowStatus().status === "close" && isShowAnswer() && isShowImage()) {
    <div class="screen-question-image-popup-container">
      <div [style.background-image]="'url(/' + questionId() + 'o.png)'"></div>
    </div>
  }

  @if (result) {
    <div>{{ result }}</div>
  }
}
