<div class="screen-finish-body">
  <p class="screen-finish-text">以上で終了となります</p>
  <p class="screen-finish-text">🎉 ありがとうございました!! 🎉</p>
<div class="ranking-board">
  <div class="rank">
    <div>
      1
    </div>
    <div>
      サウスケイ
    </div>
    <div>
     15
    </div>
  </div>
  <div class="rank">
    <div>
      2
    </div>
    <div>
      ササウスケイ
    </div>
    <div>
      12
    </div>
  </div>
  <div class="rank">
    <div>
      3
    </div>
    <div>
      サササウスケイ
    </div>
    <div>
      12
    </div>
  </div>
</div>
