
@if(toprank(); as ranking){
<div class="ranking-board" id="back">
  @for (rank of ranking; track $index) {
  <div class="rank" id="rank{{$index+1}}">
    <div class="text">
      <div class="left">
        @if($index < 3){
         <ng-icon class="crown" name="faSolidCrown"/>
        }
        <span class="rankNumber">
          {{rank.rank}}
        </span>
        <span>
          {{rank.username}}
        </span>
      </div>
      <span>
        {{rank.score}}pt
      </span>
    </div>
  </div>
  }

</div>

}



