:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }
}

// プレイヤー画面用のスマホレイアウト（PCで見ても縦長になるように）
.mobile-layout {
  width: 100%;
  max-width: 450px;
  align-self: center;

  .content {
    height: calc(100% - 32px);
  }
}
