:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;

  > div {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    margin-top: 24px;
  }

  .error-message {
    color: red;
    font-size: 14px;
  }
}

.signin-link {
  text-decoration: underline;
  text-align: center;
  margin: 16px;
}
