<form>
  <div>
    <label>
      問題ID
      <input />
    </label>
  </div>

  <div>
    <label>
      <input type="file" accept="image/*" (change)="onChange($event)" />
    </label>
  </div>

  <img [src]="imageSrc" />

  <div>
    <label>
      選択肢1
      <input />
    </label>
  </div>

  <div>
    <label>
      選択肢2
      <input />
    </label>
  </div>

  <div>
    <label>
      選択肢3
      <input />
    </label>
  </div>

  <div>
    <label>
      選択肢4
      <input />
    </label>
  </div>

  <div>
    <label>
      正解
      <select>
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </label>
  </div>

  <button>登録</button>
</form>
